<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">

        <div class="cabecera1">

            <div class="logo">
                <img src="img/logo-mercado-liebre.svg" alt="logo">
            </div>
            <div class="buscador">
                <input type="text" class="estilo" placeholder="Search..">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>

        </div>

        <div class="cabecera2">
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a> </li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="/register">Crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </nav>



        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>


    <main class="main">
        <img src="img/img-home-banner.jpg" alt="">

        <h3 class="subtitulo">Basado en tu ultima visita</h3>
        <section class="section1">


            <article class="articulo">

                <img src="img/img-cafetera-moulinex.jpg" alt="cafetera">

                <div class="cajahijo">
                    
                    <p class="precio">$6.700</p>
                    <p class="descuento">40% off</p>
                    <i class="fa-solid fa-truck lupita loguito"></i>
                    <h3 class="descripciones">Cafetera Moulinex</h3>
                    
                </div>

            </article>

            <article class="articulo">

                <img src="img/img-macbook-pro-2019.jpg" alt="macbook">

                <div class="cajahijo">
                  
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <i class="fa-solid fa-truck lupita loguito"></i>
                    <h3 class="descripciones">MacBook Pro 2019</h3>
                  
                </div>

            </article>

            <article class="articulo">

                <img src="img/img-samsung-galaxy-s10.jpg" alt="smart">

                <div class="cajahijo">
                    
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <i class="fa-solid fa-truck lupita loguito"></i>
                    <h3 class="descripciones">Samsung Galaxy S10</h3>
                    

                </div>

            </article>

            <article class="articulo">

                <img src="img/img-tv-samsung-smart.jpg" alt="tv">

                <div class="cajahijo">
                  
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <i class="fa-solid fa-truck lupita loguito"></i>
                    <h3 class="descripciones">SmartTv Samsung 43"</h3>
                   
                </div>

            </article>
        </section>




    </main>

    <footer class="footer">

        <div class="piepage">

            <div>
                <i class="fa-sharp fa-solid fa-credit-card icono"></i>
                <h3>Pagá con tarjeta o en efectivo </h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div>
                <i class="fa-solid fa-gift icono"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div>
                <i class="fa-solid fa-shield-halved icono"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                <br>
                
            </div>

        </div>
        <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>



    </footer>

<!-- fin -->
</body>

</html>